<% title "Book Details" %>
<%= notice %>
<%#= params.inspect %>

<div class="row details">
  <% @bookdetail.each do |item| %>
    <h4 class="center"><%= item[:title] %></h4>
    <p class="center">by <%= item[:author] %></p>
    <div>
      <div class="span3 img_box right">
        <% if item[:cover_url] == "http://www.goodreads.com/assets/nocover/111x148.png" %>
          <%= image_tag 'no_cover_img.jpg' %>
        <% else %>
          <%= image_tag item[:cover_url] %>
        <% end %>
        <!-- <img src="<%#= item[:cover_url] %>"> -->
      </div>

      <div class="span6 text_box">
        <p><%= item[:description] %>
        <p>ISBN: <%= item[:isbn] %>

        <%= form_tag(detail_path(@id), method: "post") do %>
          <%= hidden_field_tag(:cover_url, item[:cover_url]) %>
          <%= hidden_field_tag(:title, item[:title]) %>
          <%= hidden_field_tag(:author, item[:author]) %>
          <%= hidden_field_tag(:description, item[:description]) %>
          <%= hidden_field_tag(:isbn, item[:isbn]) %>
          <%= hidden_field_tag(:work_id, item[:work_id]) %>
          <%= hidden_field_tag(:gr_id, params[:id]) %>
          <%= submit_tag "Add to Bookbag", :name => nil, :class => "btn btn-medium" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class=" row similar">
  <%= render "similar" %>
</div>
