<!DOCTYPE html>
<html>
<head>
  <title>Bookworm - <%= yield(:title) || "Bookworm" %></title>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet
  ' type='text/css'>
  <!-- <link rel="stylesheet" type="text/css" href="bootstrap.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <%= render "layouts/navigation" %>
      </div>
    </nav>
  </header>
  <div class="container main">
    <%= yield %>
  </div>
  <footer class="container center">
      &copy; 2013 Bookworm
  </footer>
</body>
</html>
